<div class="row justify-content-center">
  <div class="col-sm-4">
<div class="card">
  <div class="card-header">
    <h6> Bar Code, Matrix and QR Code  </h6>
     <button (click)="startScanner()" class="btn btn-primary">Start Scanning</button>
  </div>
  <div class="card-body">


    <!-- <zxing-scanner #scanner class="test-class" [autofocusEnabled]="true" [autostart]="true" [enable]="true" [device]="selectedDevice"
  (scanSuccess)="handleQrCodeResult($event)" cssClass="small-video" [formats]="['QR_CODE', 'EAN_13', 'CODE_128', 'DATA_MATRIX',
  'UPC-A', 'UPC-E', 'EAN-8', 'Code 93', 'Code 128', 'QR Code', 'Data Matrix', 'Aztec', 'PDF 417']"></zxing-scanner> -->

  <zxing-scanner></zxing-scanner>


<!-- <section class="results" *ngIf="qrResultString">
	<small>Result</small>
	<strong>{{ qrResultString }}</strong>
</section> -->

  </div>
</div>

</div>
</div>